body{
    margin: 0;
    display: flex;
}

div.aside{
    /* border: 1px solid blue; */
    width: 20%;
    height: 100vh;
    background-color: #222222;

}

div.aside > div.logoblock{
    /* border: 1px solid white; */
    width: 100%;
    height: 120px;
    text-align: center;
}

div.aside div.logoblock a > img{
    width: 180px;
    padding-top: 40px;
}

div.aside div.item > h3{
    color: white;
    text-align: center;
    margin-top: 40px;
}

div.aside div.item > button{
    border: 0;
    list-style: none;
    padding: 0;
    text-align: center;
    width: 120px;
    height: 30px;
    display: block;
    margin: 0 auto;
    margin-top: 5px;
    background-color: white;
    border-radius: 20px;
}

div.aside div.item button > a{
    /* border: 1px solid red; */
    font-size: 0.8rem;
    padding: 5px;
    color: #222222;
    text-decoration: none;
}

div.aside div.item button.admin > a{
    font-weight: bold;
    text-decoration: underline #222222;
}

div.aside div.item button > a:hover{
    font-weight: bold;
    text-decoration: underline #222222;
}

div.main{
    border: 1px solid green;
    width: 80%;
    display: flex;
    justify-content: first baseline;
    flex-direction: column;
}


div.header{
    /* border: 1px solid red; */
    height: 120px;
    display: flex;
}

div.header > div.menu{
    /* border: 1px solid yellow; */
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div.header div.menu > ul{
    /* border: 1px solid steelblue; */
    list-style: none;
    padding: 0;
    text-align: center;
    

}

div.header div.menu ul > li{
    /* border: 1px solid red; */
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin-left: 10px;
}

div.header div.menu ul li > a{
    /* border: 1px solid #222222; */
    font-size: 1rem;
    padding: 8px 10px;
    width: 100px;
    color: black;
    text-decoration: none;
    border-radius: 20px;
}

div.header div.menu ul li:first-child> a{
    color: white;
    font-weight: bold;
    background-color: #FF9D82;
}

div.header div.menu ul li > a:hover{
    color: white;
    font-weight: bold;
    background-color: #FF9D82; 
}

div.header > div.signinfo{
    /* border: 1px solid purple; */
    width: 25%;
    padding-left: 20px;
}

div.header div.signinfo > p{
    font-size: 0.8rem;

}

div.header div.signinfo > button.signout{
    border: 0px;
    width: 50px;
    border-radius: 10px;
    background-color: #FF9D82; 
}

div.header div.signinfo button.signout > a{
    padding: 3px;
    color: white;
    font-size: 0.8rem;
    text-decoration: none;
}

div.header div.signinfo button.signout > a:hover{
    text-decoration: underline;
    font-weight: bold;
}

div.header div.signinfo button.signout > a:visited{
    color: white;
}

/* ------分隔線樣式------ */
div.line{
    background: linear-gradient(to right, #A6FF00, #31BDC5);
    height: 3px;
    width: 100%;
}


/* ------內容區塊------ */
div.content{
    /* border: 1px solid orange; */
    width: 100%;
    /* height: 79.5vh; */
    padding-left: 40px;
    padding-top: 40px;
}

/* div.content > button.add{
    border: 0;
    font-size: 0.8rem;
    color: white;
    font-weight: bold;
    cursor: pointer;
    background-color: #31BDC5; 
    border-radius: 20px;
    height: 25px;

}

div.content > button.add:hover{
    text-decoration: underline;

} */

div.content > table{
    border: 1.2px solid black;
    border-collapse: collapse;
    width: 800px;
    text-align: center;
    font-size: 0.8rem;
    margin-top: 10px;
    
}

div.content table th{
    border: 1px solid black;
    background-color: #d2ff7e;
    
}

div.content table td{
    border: 1px solid black;
    
}

